:root {
    --trackslider-color: #021C1E;
    --trackslider-bg: #6FB98F;
}
.trackSlider-wraper {
    position: relative;
}
.trackSlider-wraper input[type="range"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
}
progress[value]::-webkit-progress-value {
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) outset;
    background-color: var(--trackslider-color);
}
progress[value]::-moz-progress-bar {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    border-radius: 2px;
    background-color: var(--trackslider-color);
}
progress[value]::-webkit-progress-bar {
    background-color: var(--trackslider-bg);
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
.trackslider[value] {
    width: 100%;
    height: 5px;
    background-color: var(--trackslider-bg);
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    appearance: none;
}