:root {
    --buttonTextColor: "#000";
}
[data-type="audioplayer"] {
  padding: 0 5px;
  box-shadow: 0px 0px 2px 2px rgb(0 0 0 / 46%);
  padding: 5px 0;
  border-radius: 5px;
}
.time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button {
  background-color: #6fb98f;
  border: none;
  padding: 8px;
  text-align: center;
  border-radius: 5%;
  text-decoration: none;
  box-shadow: 1px 1px 2px 0px #00000096;
}
button[name="volume"] {
  display: none;
}
button:active {
  transform: scale(0.9);
}
[data-type="control"] {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}
[data-name="no"] {color: var(--buttonTextColor);}
[data-type="control-wrapper"] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
[data-type="media"] {
  padding: 0 5px;
}
@media screen and (min-width: 768px) {
  [data-type="audioplayer"] {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  [data-type="media"] {
    flex: 2;
    padding: 0 2px;
  }
  [data-type="control"] {
    flex: 1;
  }
  [data-type="control-wrapper"] {
    justify-content: space-between;
  }
  button[name="volume"] {
    padding: 4px;
    margin: 0 10px;
    display: block;
  }
}
